# Ignorar archivos locales que no necesitamos en el contenedor
node_modules/
dist/
build/
.git/
.vscode/
.idea/
*.log
logs/
backups/
.env
**/.env
.tar.gz
.zip
.chrome/
.wwebjs_auth/
.wwebjs_cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
memory.dmp
dump.rdb
