-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: select_dance_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `alumnos`
--

DROP TABLE IF EXISTS `alumnos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `alumnos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `usuario_id` int(11) NOT NULL,
  `fecha_nacimiento` date DEFAULT NULL,
  `dni` varchar(20) DEFAULT NULL,
  `nombre_padre` varchar(100) DEFAULT NULL,
  `email_padre` varchar(255) DEFAULT NULL,
  `direccion` text DEFAULT NULL,
  `monto_mensualidad` decimal(10,2) DEFAULT 0.00,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_usuario_id` (`usuario_id`),
  CONSTRAINT `alumnos_ibfk_1` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alumnos`
--

LOCK TABLES `alumnos` WRITE;
/*!40000 ALTER TABLE `alumnos` DISABLE KEYS */;
INSERT INTO `alumnos` VALUES (1,2,'2026-03-27','424242424','agustin','agustinvega656@gmail.com','valle del loa 3247',0.00,'2026-03-26 20:05:14','2026-03-26 20:05:14'),(2,4,'2026-03-09','5335353','merta','pazolejnikvera@gmail.com',NULL,0.00,'2026-03-26 21:16:17','2026-03-26 21:16:17');
/*!40000 ALTER TABLE `alumnos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `asistencias`
--

DROP TABLE IF EXISTS `asistencias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `asistencias` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `alumno_id` int(11) NOT NULL,
  `curso_id` int(11) NOT NULL,
  `fecha` date NOT NULL,
  `presente` tinyint(1) NOT NULL DEFAULT 0,
  `observaciones` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_asistencia` (`alumno_id`,`curso_id`,`fecha`),
  KEY `curso_id` (`curso_id`),
  CONSTRAINT `asistencias_ibfk_1` FOREIGN KEY (`alumno_id`) REFERENCES `alumnos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `asistencias_ibfk_2` FOREIGN KEY (`curso_id`) REFERENCES `cursos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asistencias`
--

LOCK TABLES `asistencias` WRITE;
/*!40000 ALTER TABLE `asistencias` DISABLE KEYS */;
INSERT INTO `asistencias` VALUES (1,1,8,'2026-03-26',1,NULL,'2026-03-26 21:16:34');
/*!40000 ALTER TABLE `asistencias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bot_config`
--

DROP TABLE IF EXISTS `bot_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bot_config` (
  `clave` varchar(100) NOT NULL,
  `valor` text NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`clave`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bot_config`
--

LOCK TABLES `bot_config` WRITE;
/*!40000 ALTER TABLE `bot_config` DISABLE KEYS */;
/*!40000 ALTER TABLE `bot_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bot_knowledge`
--

DROP TABLE IF EXISTS `bot_knowledge`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bot_knowledge` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tema` varchar(255) NOT NULL,
  `contenido` text NOT NULL,
  `activo` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bot_knowledge`
--

LOCK TABLES `bot_knowledge` WRITE;
/*!40000 ALTER TABLE `bot_knowledge` DISABLE KEYS */;
/*!40000 ALTER TABLE `bot_knowledge` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clases_prueba`
--

DROP TABLE IF EXISTS `clases_prueba`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clases_prueba` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `apellido` varchar(100) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `interes` varchar(100) DEFAULT NULL,
  `horario` varchar(100) DEFAULT NULL,
  `token_cancelacion` varchar(100) DEFAULT NULL,
  `codigo_reserva` varchar(50) DEFAULT NULL,
  `estado` enum('pendiente','confirmada','cancelada','asisitido') DEFAULT 'confirmada',
  `asistio` tinyint(1) DEFAULT 0,
  `disponibilidad_id` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `token_cancelacion` (`token_cancelacion`),
  UNIQUE KEY `codigo_reserva` (`codigo_reserva`),
  KEY `disponibilidad_id` (`disponibilidad_id`),
  CONSTRAINT `clases_prueba_ibfk_1` FOREIGN KEY (`disponibilidad_id`) REFERENCES `clases_prueba_disponibles` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clases_prueba`
--

LOCK TABLES `clases_prueba` WRITE;
/*!40000 ALTER TABLE `clases_prueba` DISABLE KEYS */;
/*!40000 ALTER TABLE `clases_prueba` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clases_prueba_disponibles`
--

DROP TABLE IF EXISTS `clases_prueba_disponibles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clases_prueba_disponibles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `curso_id` int(11) DEFAULT NULL,
  `titulo` varchar(255) DEFAULT NULL COMMENT 'TÔö£┬ítulo manual si no tiene curso_id',
  `descripcion` text DEFAULT NULL,
  `fecha` date NOT NULL,
  `horario` varchar(100) NOT NULL,
  `cupos` int(11) DEFAULT 10,
  `activo` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `curso_id` (`curso_id`),
  CONSTRAINT `clases_prueba_disponibles_ibfk_1` FOREIGN KEY (`curso_id`) REFERENCES `cursos` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clases_prueba_disponibles`
--

LOCK TABLES `clases_prueba_disponibles` WRITE;
/*!40000 ALTER TABLE `clases_prueba_disponibles` DISABLE KEYS */;
INSERT INTO `clases_prueba_disponibles` VALUES (1,12,'','','2026-03-27','18:06',10,1,'2026-03-26 20:05:53','2026-03-26 20:05:53');
/*!40000 ALTER TABLE `clases_prueba_disponibles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clases_prueba_espera`
--

DROP TABLE IF EXISTS `clases_prueba_espera`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clases_prueba_espera` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `disponibilidad_id` int(11) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `telefono` varchar(50) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `disponibilidad_id` (`disponibilidad_id`),
  CONSTRAINT `clases_prueba_espera_ibfk_1` FOREIGN KEY (`disponibilidad_id`) REFERENCES `clases_prueba_disponibles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clases_prueba_espera`
--

LOCK TABLES `clases_prueba_espera` WRITE;
/*!40000 ALTER TABLE `clases_prueba_espera` DISABLE KEYS */;
/*!40000 ALTER TABLE `clases_prueba_espera` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `consultas`
--

DROP TABLE IF EXISTS `consultas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `consultas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `email` varchar(255) NOT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `mensaje` text NOT NULL,
  `estado` enum('pendiente','leido','respondido') DEFAULT 'pendiente',
  `fecha_envio` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `consultas`
--

LOCK TABLES `consultas` WRITE;
/*!40000 ALTER TABLE `consultas` DISABLE KEYS */;
INSERT INTO `consultas` VALUES (1,'assadsd','agustinvega656@gmail.com','+56981845876','aasdasdada asdasdasdasd','leido','2026-03-26 21:25:06');
/*!40000 ALTER TABLE `consultas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `conversaciones`
--

DROP TABLE IF EXISTS `conversaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `conversaciones` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `telefono` varchar(50) NOT NULL,
  `alumno_id` int(11) DEFAULT NULL,
  `mensajes` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`mensajes`)),
  `metadata` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`metadata`)),
  `requiere_atencion_humana` tinyint(1) DEFAULT 0,
  `createdAt` timestamp NOT NULL DEFAULT current_timestamp(),
  `updatedAt` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `telefono` (`telefono`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conversaciones`
--

LOCK TABLES `conversaciones` WRITE;
/*!40000 ALTER TABLE `conversaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `conversaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cursos`
--

DROP TABLE IF EXISTS `cursos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cursos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `profesor_id` int(11) DEFAULT NULL,
  `nivel` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Lista de niveles' CHECK (json_valid(`nivel`)),
  `categoria` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Etiquetas de categorÔö£┬ías' CHECK (json_valid(`categoria`)),
  `tipo` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Tipos de formaciÔö£Ôöén' CHECK (json_valid(`tipo`)),
  `dia_semana` enum('Lunes','Martes','MiÔö£┬«rcoles','Jueves','Viernes','SÔö£├¡bado','Domingo') NOT NULL,
  `hora_inicio` time NOT NULL,
  `hora_fin` time NOT NULL,
  `cupo_maximo` int(11) DEFAULT 20,
  `url_clase_vivo` varchar(255) DEFAULT NULL,
  `activo` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `profesor_id` (`profesor_id`),
  CONSTRAINT `cursos_ibfk_1` FOREIGN KEY (`profesor_id`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cursos`
--

LOCK TABLES `cursos` WRITE;
/*!40000 ALTER TABLE `cursos` DISABLE KEYS */;
/*!40000 ALTER TABLE `cursos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `eventos`
--

DROP TABLE IF EXISTS `eventos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `eventos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `fecha` date NOT NULL,
  `hora` time DEFAULT NULL,
  `lugar` varchar(255) DEFAULT NULL,
  `ubicacion` varchar(255) DEFAULT NULL,
  `tipo` enum('PresentaciÔö£Ôöén','Competencia','Clase Especial','Otro') DEFAULT 'PresentaciÔö£Ôöén',
  `cupo_maximo` int(11) DEFAULT NULL,
  `costo_inscripcion` decimal(10,2) DEFAULT 0.00,
  `vestuario_requerido` text DEFAULT NULL,
  `peinado_instrucciones` text DEFAULT NULL,
  `maquillaje_instrucciones` text DEFAULT NULL,
  `costo_vestuario` decimal(10,2) DEFAULT 0.00,
  `costo_maquillaje` decimal(10,2) DEFAULT 0.00,
  `costo_peinado` decimal(10,2) DEFAULT 0.00,
  `activo` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eventos`
--

LOCK TABLES `eventos` WRITE;
/*!40000 ALTER TABLE `eventos` DISABLE KEYS */;
INSERT INTO `eventos` VALUES (2,'fddfgf','dfdfgdfg','2026-03-29','20:08:00','dfgdfg',NULL,'',34,545445.00,'fdgfgdfg','fdfg','3dgdfgdf',5333.98,554.00,555.00,1,'2026-03-26 21:06:56','2026-03-26 21:06:56'),(3,'sdfsdf','sdfsdfsdf','2026-03-28','18:18:00','sdfsdfsd',NULL,'Competencia',0,44444.00,NULL,NULL,NULL,0.00,0.00,0.00,1,'2026-03-26 21:18:51','2026-03-26 21:18:51');
/*!40000 ALTER TABLE `eventos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gastos`
--

DROP TABLE IF EXISTS `gastos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gastos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `descripcion` varchar(255) NOT NULL,
  `monto` decimal(10,2) NOT NULL,
  `categoria` varchar(100) NOT NULL,
  `fecha` date NOT NULL,
  `comprobante_url` varchar(255) DEFAULT NULL,
  `usuario_id` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `usuario_id` (`usuario_id`),
  CONSTRAINT `gastos_ibfk_1` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gastos`
--

LOCK TABLES `gastos` WRITE;
/*!40000 ALTER TABLE `gastos` DISABLE KEYS */;
INSERT INTO `gastos` VALUES (1,'8897',7000000.00,'Alquiler','2026-03-26','/uploads/comprobantes/gasto-Gasto-2026-03-26-1774558327590-87491364.pdf',1,'2026-03-26 20:52:03'),(2,'',789789.00,'Insumos','2026-03-26',NULL,1,'2026-03-26 20:52:13'),(3,'',9789789.00,'Otros','2026-03-26',NULL,1,'2026-03-26 20:52:17'),(4,'655',66555.00,'Sueldos','2026-03-26',NULL,1,'2026-03-26 21:18:31');
/*!40000 ALTER TABLE `gastos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inscripciones_curso`
--

DROP TABLE IF EXISTS `inscripciones_curso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inscripciones_curso` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `alumno_id` int(11) NOT NULL,
  `curso_id` int(11) NOT NULL,
  `fecha_inscripcion` date NOT NULL,
  `activo` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_inscripcion` (`alumno_id`,`curso_id`),
  KEY `curso_id` (`curso_id`),
  CONSTRAINT `inscripciones_curso_ibfk_1` FOREIGN KEY (`alumno_id`) REFERENCES `alumnos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `inscripciones_curso_ibfk_2` FOREIGN KEY (`curso_id`) REFERENCES `cursos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inscripciones_curso`
--

LOCK TABLES `inscripciones_curso` WRITE;
/*!40000 ALTER TABLE `inscripciones_curso` DISABLE KEYS */;
INSERT INTO `inscripciones_curso` VALUES (3,1,5,'2026-03-26',1,'2026-03-26 21:07:11'),(4,1,8,'2026-03-26',1,'2026-03-26 21:07:12'),(5,1,7,'2026-03-26',1,'2026-03-26 21:07:14'),(6,2,11,'2026-03-27',1,'2026-03-27 14:32:47'),(7,1,11,'2026-03-27',1,'2026-03-27 14:32:48'),(8,1,12,'2026-03-27',1,'2026-03-27 15:00:57');
/*!40000 ALTER TABLE `inscripciones_curso` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inscripciones_evento`
--

DROP TABLE IF EXISTS `inscripciones_evento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inscripciones_evento` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `alumno_id` int(11) NOT NULL,
  `evento_id` int(11) NOT NULL,
  `fecha_inscripcion` date NOT NULL,
  `pago_realizado` tinyint(1) DEFAULT 0,
  `checklist_vestuario` tinyint(1) DEFAULT 0,
  `checklist_peinado` tinyint(1) DEFAULT 0,
  `checklist_maquillaje` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_ie` (`alumno_id`,`evento_id`),
  KEY `evento_id` (`evento_id`),
  CONSTRAINT `inscripciones_evento_ibfk_1` FOREIGN KEY (`alumno_id`) REFERENCES `alumnos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `inscripciones_evento_ibfk_2` FOREIGN KEY (`evento_id`) REFERENCES `eventos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inscripciones_evento`
--

LOCK TABLES `inscripciones_evento` WRITE;
/*!40000 ALTER TABLE `inscripciones_evento` DISABLE KEYS */;
INSERT INTO `inscripciones_evento` VALUES (1,1,2,'2026-03-26',0,0,0,0,'2026-03-26 21:07:05');
/*!40000 ALTER TABLE `inscripciones_evento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notificaciones`
--

DROP TABLE IF EXISTS `notificaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notificaciones` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `usuario_id` int(11) DEFAULT NULL COMMENT 'NULL para general',
  `titulo` varchar(255) NOT NULL,
  `mensaje` text NOT NULL,
  `tipo` varchar(50) DEFAULT 'info',
  `imagen_url` varchar(255) DEFAULT NULL,
  `remitente` varchar(100) DEFAULT 'Select Dance Studio',
  `leido` tinyint(1) DEFAULT 0,
  `batch_id` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `usuario_id` (`usuario_id`),
  CONSTRAINT `notificaciones_ibfk_1` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notificaciones`
--

LOCK TABLES `notificaciones` WRITE;
/*!40000 ALTER TABLE `notificaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `notificaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pagos`
--

DROP TABLE IF EXISTS `pagos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pagos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `alumno_id` int(11) NOT NULL,
  `curso_id` int(11) DEFAULT NULL,
  `concepto` varchar(255) NOT NULL,
  `monto` decimal(10,2) NOT NULL,
  `monto_original` decimal(10,2) DEFAULT NULL,
  `recargo_aplicado` decimal(10,2) DEFAULT 0.00,
  `descuento_aplicado` decimal(10,2) DEFAULT 0.00,
  `tipo_descuento` varchar(50) DEFAULT NULL,
  `fecha_vencimiento` date NOT NULL,
  `fecha_limite_sin_recargo` date DEFAULT NULL,
  `fecha_pago` date DEFAULT NULL,
  `estado` enum('pendiente','pagado','parcial','revision') DEFAULT 'pendiente',
  `metodo_pago` varchar(50) DEFAULT NULL,
  `metodo_pago_realizado` varchar(50) DEFAULT NULL,
  `comprobante_url` varchar(255) DEFAULT NULL,
  `comprobante_numero` varchar(100) DEFAULT NULL,
  `analisis_comprobante` text DEFAULT NULL,
  `observaciones` text DEFAULT NULL,
  `notas_pago` text DEFAULT NULL,
  `es_mensual` tinyint(1) DEFAULT 0,
  `codigo_unico` varchar(100) DEFAULT NULL,
  `plan_cuotas` int(11) DEFAULT 1,
  `cuota_numero` int(11) DEFAULT 1,
  `plan_pago_id` varchar(100) DEFAULT NULL,
  `referencia_externa` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `codigo_unico` (`codigo_unico`),
  KEY `curso_id` (`curso_id`),
  KEY `idx_alumno_vencimiento` (`alumno_id`,`fecha_vencimiento`),
  CONSTRAINT `pagos_ibfk_1` FOREIGN KEY (`alumno_id`) REFERENCES `alumnos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `pagos_ibfk_2` FOREIGN KEY (`curso_id`) REFERENCES `cursos` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pagos`
--

LOCK TABLES `pagos` WRITE;
/*!40000 ALTER TABLE `pagos` DISABLE KEYS */;
/*!40000 ALTER TABLE `pagos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `productos`
--

DROP TABLE IF EXISTS `productos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `productos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(200) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `categoria` varchar(100) DEFAULT NULL,
  `precio_costo` decimal(10,2) DEFAULT 0.00,
  `precio_venta` decimal(10,2) NOT NULL,
  `stock_actual` int(11) DEFAULT 0,
  `stock_minimo` int(11) DEFAULT 0,
  `imagen_url` varchar(255) DEFAULT NULL,
  `activo` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `productos`
--

LOCK TABLES `productos` WRITE;
/*!40000 ALTER TABLE `productos` DISABLE KEYS */;
INSERT INTO `productos` VALUES (1,'ballet','dfgdfg','Ropa',6555.00,6565665.00,43,5,NULL,1,'2026-03-26 21:07:33','2026-03-26 21:07:33'),(2,'44444','','Ropa',4444.00,99999999.99,4,5,'/uploads/productos/prod-1774559948049-597701013.jpeg',1,'2026-03-26 21:19:08','2026-03-26 21:19:08');
/*!40000 ALTER TABLE `productos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuarios` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) DEFAULT NULL,
  `apellido` varchar(100) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `rol` enum('admin','alumno','profesor') NOT NULL DEFAULT 'alumno',
  `telefono` varchar(20) DEFAULT NULL,
  `foto_perfil` varchar(255) DEFAULT NULL,
  `rol_display` varchar(100) DEFAULT NULL COMMENT 'Cargo para mostrar en Staff',
  `descripcion` text DEFAULT NULL COMMENT 'BiografÔö£┬ía para staff',
  `orden` int(11) DEFAULT 0,
  `activo` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `primer_login` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_email` (`email`),
  KEY `idx_rol` (`rol`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `vw_balance_financiero`
--

DROP TABLE IF EXISTS `vw_balance_financiero`;
/*!50001 DROP VIEW IF EXISTS `vw_balance_financiero`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vw_balance_financiero` AS SELECT
 1 AS `mes`,
  1 AS `anio`,
  1 AS `ingresos_pagos`,
  1 AS `ingresos_tienda`,
  1 AS `total_gastos`,
  1 AS `balance_neto` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `vw_retencion_alumnos`
--

DROP TABLE IF EXISTS `vw_retencion_alumnos`;
/*!50001 DROP VIEW IF EXISTS `vw_retencion_alumnos`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vw_retencion_alumnos` AS SELECT
 1 AS `retencion_mensual`,
  1 AS `inscritos_activos`,
  1 AS `dados_de_baja`,
  1 AS `tasa_bajas` */;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `vw_balance_financiero`
--

/*!50001 DROP VIEW IF EXISTS `vw_balance_financiero`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_balance_financiero` AS select `m`.`mes` AS `mes`,`m`.`anio` AS `anio`,coalesce(`p`.`ingresos_pagos`,0) AS `ingresos_pagos`,0 AS `ingresos_tienda`,coalesce(`g`.`total_gastos`,0) AS `total_gastos`,coalesce(`p`.`ingresos_pagos`,0) - coalesce(`g`.`total_gastos`,0) AS `balance_neto` from (((select distinct month(`pagos`.`fecha_pago`) AS `mes`,year(`pagos`.`fecha_pago`) AS `anio` from `pagos` where `pagos`.`estado` = 'pagado' union select distinct month(`gastos`.`fecha`) AS `mes`,year(`gastos`.`fecha`) AS `anio` from `gastos`) `m` left join (select month(`pagos`.`fecha_pago`) AS `mes`,year(`pagos`.`fecha_pago`) AS `anio`,sum(`pagos`.`monto`) AS `ingresos_pagos` from `pagos` where `pagos`.`estado` = 'pagado' group by year(`pagos`.`fecha_pago`),month(`pagos`.`fecha_pago`)) `p` on(`m`.`mes` = `p`.`mes` and `m`.`anio` = `p`.`anio`)) left join (select month(`gastos`.`fecha`) AS `mes`,year(`gastos`.`fecha`) AS `anio`,sum(`gastos`.`monto`) AS `total_gastos` from `gastos` group by year(`gastos`.`fecha`),month(`gastos`.`fecha`)) `g` on(`m`.`mes` = `g`.`mes` and `m`.`anio` = `g`.`anio`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_retencion_alumnos`
--

/*!50001 DROP VIEW IF EXISTS `vw_retencion_alumnos`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_retencion_alumnos` AS select coalesce(round(count(case when `u`.`activo` = 1 then 1 end) / nullif(count(0),0) * 100,2),100.00) AS `retencion_mensual`,count(case when `u`.`activo` = 1 then 1 end) AS `inscritos_activos`,count(case when `u`.`activo` = 0 then 1 end) AS `dados_de_baja`,coalesce(round(count(case when `u`.`activo` = 0 then 1 end) / nullif(count(0),0) * 100,2),0.00) AS `tasa_bajas` from (`alumnos` `a` join `usuarios` `u` on(`a`.`usuario_id` = `u`.`id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-28 15:15:55
